@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: "poppins";
  src: url(assets/fonts/Poppins-Black.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "poppins-light";
  src: url(assets/fonts/Poppins-Light.ttf) format("truetype");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: "poppins-light", sans-serif;
  overflow-x: hidden;
}

header .material-symbols-outlined {
  font-size: 30px;
}

@theme {
  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 75rem;
  --breakpoint-2xl: 1400px;
  --color-default-black: #000000;
  --color-base: #ffbd39;
  --color-resume: #1a1a1a;
  --color-textdark: #999999;
  --font-poppins: "Poppins", sans-serif;
}

@layer components {
  .container {
    @apply mx-auto flex flex-col md:flex-row overflow-hidden;
  }
  .black-layer {
    @apply after:content-[''] after:w-full after:h-full after:bg-slate-800/50 after:absolute after:top-0 after:left-0;
  }
  .hamburger-menu {
    @apply text-white md:!hidden pr-4 self-center cursor-pointer hover:text-amber-400 duration-300;
  }
}

@keyframes showmenu {
  from {
    position: fixed;
    top: -70px;
  }

  to {
    position: fixed;
    top: 0;
    z-index: 20;
  }
}

.animate-menu {
  animation: showmenu linear 0.4s forwards;
}
